.c-input {
	width: 100%;

	&__body {
		position: relative;
	}

	&__icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 13px;
		pointer-events: none;
	}

	&__field {
		width: 100%;
		padding: 15px 20px;
		text-align: right;
		font-weight: 700;
		color: $color-secondary;
		background-color: $color-light-2;
		border: none;
		border-radius: 5px;

		&:active,
		&:focus {
			outline: none;
		}
	}
}
