@use '../abstracts/variables';

.c-title {
	text-align: center;
	letter-spacing: 1.1rem;
	line-height: 4.5rem;
	font-weight: 700;
	color: $color-dark-1;
	text-transform: uppercase;
	margin-top: 55px;
}
